/*Homepage*/
*{
    margin:0;
    padding:0;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color:#f3f0f3
    
}
button{
    font-family: inherit;
}
.button{
    font-family: inherit;
}
header{
    background-color:#e7e0cf;
}
/* header*/
ul{
    display:inline;
    list-style-type: none;
    margin:0;
    padding:0;
    background:#95AFA7
}
li{
    float:left;
}
li a{
    display:block;
    color:#222b1bea;
    text-align:center;
    padding:10px 12px;
}
li a:hover{
    background-color: #dfcdc7;
}
li a:active{
    background-color: #b1cfba;
}

header.social-media{
    justify-content: right;
    transition:transform.2s;
}
/*video flex*/
video{
    display:flex;
    width:100%;
    z-index: 1;
    position:relative;
}
/*about me section*/
section.aboutme { 
    text-align: center;
    background-image: url("Media/dp.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px;
}
section.aboutme a.button{
    padding:10px 30px;
    margin:4px 2px;
    cursor: pointer;
    display:inline-block;
    color:#222b1bea;
    background:#dad3d1;
    text-align:center;
}

h1{
    font-size: 80px;
    color: #dfcdc7;
}
h2{
    font-size:65px;
}
h3{
    font-size: 30px;
    color:#f6f8ff
}
p{
    display:flex;
    flex-flow:wrap;
    font-size: 25px;
    text-align: center;
    color: #f3f0f3;
}
/*education section*/
section.education{
    text-align: center;
    background-image:url("Media/Education.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px;
}
dd{
    font-size:25px;
}
/*hobbies section*/
section.hobbies{
    text-align:center;
    padding: 150px;
    background-image:url("Media/IMG_6397.JPG.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.slideshow-container{
    overflow:hidden ;
    max-width: 600px;
    position: relative;
    display: block;
    left: 25%;
}
.slideshow-container .item,
.slideshow-container .item-hidden{
    display:none;
}
.slideshow-container .item img{
    max-width: 600px;;
    width:100%;
    height:auto;
}
.slideshow-container .item-show{
    display:block;
    animation: fadeVisibility 0.5s; 
}
.slideshow-container .actions{
    display:flex;
    width:100%;
    height:auto;
    justify-content: space-between;
    position: absolute;
    top:50%;
    transform:translateY(-50%); 
    color:#222b1bea;
}

#prev{
    padding:10px 20px;
    margin:2px 1px;
    cursor: pointer;
    display:inline-block;
    color:#222b1bea;
    text-align:center;
    transition: 0.6s ease;
}
#next{
    padding:10px 20px;
    margin:2px 1px;
    cursor: pointer;
    display:inline-block;
    color:#222b1bea;
    text-align:center;
    transition: 0.6s ease;
}
#prev:hover, #next:hover{
    background-color: #e7e0cf
}
@keyframes fadeVisibility{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
        transform:linear;
    }
}
/*Skills*/
section.skills{
    text-align: center;
    padding: 150px;
    background-image:url("Media/film/file1/skills.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

/*Software Profeciency*/
section.software{
    text-align: center;
    padding: 150px;
    background-image: url("Media/film/file2/software.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-content: center;
}

.bar{
    width:50%;
    background-color:grey;
    border-radius: 15px 50px 30px 5px;
    align-items: center;
}
.skills{
    padding:10px;
    
}
.office{
    width:90%; background-color:#95AFA7 ;border-radius: 15px 50px 30px 15px; right: 20%;
}
.ai{
    width:90%; background-color: #95AFA7;border-radius: 15px 50px 30px 15px;
}
.ps{
    width:80%; background-color: #95AFA7;border-radius: 15px 50px 30px 15px;
}
.pp{
    width:50%; background-color:#95AFA7;border-radius: 15px 50px 30px 15px;
}
.html{
    width:70%; background-color: #95AFA7;border-radius: 15px 50px 30px 15px;
}

/*Work Experience*/
section.work{
    text-align: center;
    padding:150px;
    background-image: url("Media/film/file2/work.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section.work a.button{
    padding: 10px 30px; 
    margin: 4px 2px; 
    cursor: pointer; 
    display: inline-block;
    color:#222b1bea; 
    background:#dad3d1;
    text-align: center;
}
/*footer*/
footer{
    background-color: #95AFA7;
    align-items: center;
    display: flex;
    justify-content: center;
}

section.contact{
    text-align: center;
    padding:20px;
    font-size: 10px;
    justify-content: center;
    
}


/*Projects page CSS*/
section.projects{
    text-align: left;
    background-image:url("Media/film/file2/projectsbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 140px;
    margin-top: 20px;

}
.applogo{
    display:flex;
    flex-direction: row;
}
.applogo > applogodes{
    padding:5px;
}
.infographic{
    display: flex;
    flex-direction: row;
}
.infographic > infodes{
    padding:5px;
}
.board{
    display:flex;
    flex-direction:row; 
}
.board > boarddes{
    padding: 5px; 
}
.cards{
    display: flex; 
    flex-direction: row;
}
.cards > carddes{
    padding: 5px;
}

section.photos{
    display:flex;
    flex-direction: column;
    background-image: url("Media/film/file2/photobg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding:5px;
}
.row{
    display:flex;
    flex-wrap:wrap;
    padding: 20px;
}
.column{
    flex:40%;
    max-width:40%;
    padding: 5px;
    margin: 30px;
    margin-top: 0;
    
}
.column img{
    vertical-align: middle;
    width:100%;
    margin-top:20px;
}
@media (max-width:576px){
    .column{
        flex:50%;
        max-width:50%;
    }
}
@media (max-width:920px){
    .column{
        flex:50%;
        max-width:50%;
    }
}

/*form page*/
section.form{
    display:flex;
    background-color:#dfcdc7;
    padding:150px; 
    justify-content:center;
    text-align: center;
    color:#222b1bea;
    background-image:url("Media/film/file2/formsbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.button{
    padding: 10px 30px; 
    margin: 4px 2px; 
    cursor: pointer; 
    display: inline-block;
    background:#dad3d1;
    color:#222b1bea;
    text-align: center;
}
/*achievemets section*/
section.achievements{
    text-align:center;
    padding: 150px;
    background-image:url("Media/25d5e93d-8753-4d7f-bcbf-001f35b44f52_edited.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

/*photo page*/
.row{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;
}
.column{
    flex:20%;
    max-width:20%;
    padding:0 4px;
}
.column img{
    vertical-align: center;
    width:100%; 
}
@media (max-width:576px){
    .column{
        flex:50%;
        max-width:50%;
    }
}
/*@media (max-width:920px){
    .column{
        flex:50%;
        max-width:50%;
    }
}
*/
input.text{
    color:#222b1bea
}